<html>
    <head>
        <style type="text/css">
            body {
                background: green;
                color: white;
            }
            div.container {
                max-width: 500px;
                margin: 100px auto;
                border: 20px solid white;
                padding: 10px;
                text-align: center;
            }
            h4 {
                text-transform: uppercase;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h4>Cat Gif of the day</h4>
            <img src="{{url}}" />
            <p>
                <small>Courtesy: <a href="https://www.showpo.com/us/showpoedit/life/funniest-cat-gifs-net.html">Showpo</a></small>
            </p>
        </div>
    </body>
</html>